body {
  background-color: lightblue;
}

h1.jumbotron {
  font-family: cursive;
  text-align: center;
}

#ruby {
  display: none;
}

#php {
  display: none;
}

#java {
  display: none;
}

#csharp {
  display: none;
}

#noSuggestion {
  display: none;
}

#output {
  display: none;
}

#intro-text {
  font-size: 12pt;
  text-align: justify;
}

#quizForm {
  border: solid darkgrey 2px;
  padding: 5px;
}

.error-message {
  display: none;
  text-decoration: underline;
  color: red;
  font-weight: bold;
}

.result-text {
  font-size: 12pt;
}
